In [1]:
import itertools
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('plastic-pollution.csv')

In [3]:
df

,Entity,Code,Year,Mismanaged plastic waste to ocean per capita (kg per year)
0,Africa,NaN,2019,0.059823
1,Albania,ALB,2019,0.543214
2,Algeria,DZA,2019,0.134114
3,Angola,AGO,2019,0.027023
4,Antigua and Barbuda,ATG,2019,0.020619
...,...,...,...,...
160,Vietnam,VNM,2019,0.292561
161,Western Sahara,ESH,2019,0.065292
162,World,OWID_WRL,2019,0.126980
163,Yemen,YEM,2019,0.008641
164,Zimbabwe,ZWE,2019,0.000000